:root {
    --color-background: #f9f9f9;
    --color-foreground: #fff;
    --color-accent-1: #167347;
    --color-accent-2: #095ED6;
    --color-font-default: #000;
    --color-font-1: #676565;
    --color-font-2: #9c9b9b;
    --color-alert: #c40e0e;
    --color-border: #7d7c7c7c;
}

.dark-mode {
    --color-background: #09121A;
    --color-foreground: #101B2B;
    --color-accent-1: #39DA8A;
    --color-accent-2: #6799FF;
    --color-font-default: #fff;
    --color-font-1: #c8c8cc;
    --color-font-2: #959494;
    --color-alert: #fa6060;
    --color-border: #234487;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--color-font-default);
    background: var(--color-background);
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 15px;
}